@import "./typography.css";

@keyframes fade{
  0% {
    text-decoration: underline solid white 5px;

  }
  100% {
    text-decoration: underline solid #D9DBF1 5px;
  }
}

* {
  margin: 0;
}


h1 {
  margin-left: 7rem;
}

.nav-container {
  font-family: "Spartan Light", sans-serif;
  font-size: 16px;
  height:auto;
}

.nav-image {
  height: 5rem;
  width: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 7rem;
}

.actual-nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.page-links {
  margin-left: 37rem;
}

.nav-link-text {
  font-size: 24px;
  color: #839073;
  justify-content: flex-end;
  margin-right: 6rem;
  text-decoration: none;
}

.nav-link-text:hover {
  animation: fade 0.5s linear forwards;

}

.hey-there-container {
  background-color: #F9F9ED;
  height: 100rem;
}

.footer-container {
  background-color: #7D84B2;
}

.actual-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#footer-question {
  font-size: 2.25rem;
  font-family: "Spartan Semibold", sans-serif;
  color: white;
  margin-top: 
}
