@import "./typography.css";

/* ANIMATIONS */
@keyframes underline-fade{
  0% {
    text-decoration: underline solid white 5px;
  }
  100% {
    text-decoration: underline solid #D9DBF1 5px;
  }
}

@keyframes icon-fade{
  100% {
    color: #DBF4A7;
  }
}


/*get rid of margins*/
* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* GENERAL STYLING */
h1 {
  font-family: "Spartan Black", sans-serif;
  font-size: 3rem;
  color: #8E9DCC;
}

/* NAV BAR STYLING*/
.nav-container {
  font-family: "Spartan Light", sans-serif;
}

.actual-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-image-link {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 15rem;
}

.nav-image {
  height: 4rem;
  width: 4rem;
}

.page-links {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  margin-right: 15rem;
}

.nav-link-text {
  font-size: 1.25rem;
  color: #839073;
  text-decoration: none;
}

.nav-link-text:hover {
  animation: underline-fade 0.4s linear forwards;

}

/*PORTFOLIO "HEY!" STYLING*/
.hey-there-container {
  background-color: white;
  height: 50rem;
}

/*ABOUT ME STYLING*/
.bio-container {
  background-color: white;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.bio-text {
}

.bio-blurb {
  margin-top: 1rem;
  width: 24rem;
  font-family: "Spartan Light", sans-serif;
  font-size: 1.375rem;
  color: #839073;
}

.column-icon-container {
  display: flex;
  flex-direction: column;
  width:4.5rem;
  height: 10rem;
  margin-left: 17rem;
  margin-right: 2rem;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
}

.regular-icon-link {
  margin-left: 4rem;
}

.regular-icon {
  color: #D9DBF1;
  font-size: 2.5rem;
}

/* FOOTER STYLING */
.footer-container {
  background-color: #7D84B2;
}

.actual-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#footer-question {
  font-size: 2rem;
  font-family: "Spartan Semibold", sans-serif;
  color: white;
  margin-top: 2rem;
}

#footer-prompt {
  font-family: "Spartan Light", sans-serif;
  font-size: 1.125rem;
  color: #F9F9ED;
  margin-top: 1rem;
}

.row-icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icon {
  color: #F9F9ED;
}

.footer-icon-link {
  margin: 1rem 1rem;
  font-size: 2.5rem;
}

.footer-icon:hover,
.regular-icon:hover {
  animation: icon-fade 0.4s ease-in-out forwards;
}

.copyright-container {
  margin-bottom: 1rem;
  text-align: center;
}

.copyright {
  font-size: 0.7rem;
  font-family: "Spartan Light", sans-serif;
  font-style: italic;
  color: #DBF4A7;

}
