@import "./typography.css";

@keyframes underline-fade{
  0% {
    text-decoration: underline solid white 5px;
  }
  100% {
    text-decoration: underline solid #D9DBF1 5px;
  }
}

@keyframes icon-fade{
  100% {
    color: #DBF4A7;
  }
}

* {
  margin: 0;
}


h1 {
  margin-left: 7rem;
}

.nav-container {
  font-family: "Spartan Light", sans-serif;
  font-size: 16px;
  height:auto;
}

.nav-image {
  height: 5rem;
  width: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 7rem;
}

.actual-nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.page-links {
  margin-left: 37rem;
}

.nav-link-text {
  font-size: 24px;
  color: #839073;
  justify-content: flex-end;
  margin-right: 6rem;
  text-decoration: none;
}

.nav-link-text:hover {
  animation: underline-fade 0.4s linear forwards;

}

.hey-there-container {
  background-color: #F9F9ED;
  height: 100rem;
}

.footer-container {
  background-color: #7D84B2;
}

.actual-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#footer-question {
  font-size: 2rem;
  font-family: "Spartan Semibold", sans-serif;
  color: white;
  margin-top: 2rem;
}

#footer-prompt {
  font-family: "Spartan Light", sans-serif;
  font-size: 1.125rem;
  color: #F9F9ED;
  margin-top: 1rem;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.icon {
  color: #F9F9ED;
  margin: 1rem 1rem;
  font-size: 2.5rem;
}

.icon:hover {
  animation: icon-fade 0.4s ease-in-out forwards;
}

#copyright {
  font-family: "Spartan Light", sans-serif;
  font-size: 0.7rem;
  font-style: italic;
  color: #DBF4A7;
  margin-bottom: 1rem;
  text-align: center;
}
